<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnAuthorised Person</title>
  <style>
    .status-code {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f1f1f1;
      border-radius: 5px;
      font-weight: bold;
      font-size: 55px;
      text-align: center;
      color: red;
      padding: 20px
    }

    .headings {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f1f1f1;
      border-radius: 5px;
      font-weight: bold;
      color: red
    }
    .suggetion{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f1f1f1;
      border-radius: 5px;
      font-weight: bold;
      color:green
    }
  </style>
</head>

<body>
  <div class="status-code">
    <p>status code 401</p>
  </div>

  <div class="headings">
    <h1>Access Denied </h1>
    <p>You are not authorized to perform this action.
</p>
  </div>

  <div>
    <p></p>
  </div>

  <div class="suggetion">
    <h3>Suggesstion</h3>
    <p>First you <a href="/user/login">login</a> then try again</p>
  </div>
</body>

</html>