<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Failed </title>
  <style>
    .main-div{
      border: 1px inset paleturquoise;
      text-align: center;
      justify-content: center;
    }
    .status-code{
      background-color: antiquewhite;
      font-size: xx-large;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;

    }
    .para{
      font-size: x-large;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: red;

    }
  </style>
</head>

<body>
  <div class="main-div">
    <div class="status-code">
      <p>status code 400</p>
    </div>
    <hr>
    <div class="heading">
      <h2>Login Faild</h2>
    </div>

    <div class="para">
      <p>Username Or Password is Incorrect </p>
    </div>
  </div>

</body>

</html>