<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/fonts/remixicon.css" rel="stylesheet" />
  <style>
    .para-button-div{
      border: none;
      justify-self: center;
      align-items: center;
      padding: 20px;
      margin:20px;
      border-radius: 10px;
      box-shadow: 1px 1px 2px 2px pink;

    }
    .para-button-div:hover{
            box-shadow: 1px 1px 2px 2px aqua;

    }
    .para{
      font-size: larger;
      color: white;
      text-align: center;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .button{
      text-align: center;
      margin-top: 20px;
    }

  </style>
</head>

<body>
  <main class="p-4 bg-gray-100 dark:bg-gray-800 h-screen w-screen">
    <div class="para-button-div">
      <div class="para">
        <p>Click Upload Button To Upload Your File</p>
      </div>
      <div class="button">
      <button onclick="showPopUp()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded  ">Upload
      File</button>
      </div>
    </div>
    

    <div class="pop hidden backdrop-blur fixed top-0 left-0 h-screen w-screen flex items-center justify-center">

      <form action="/upload" method="post" enctype="multipart/form-data">
        <!--jab normal text form se bhejte hai to method define krne se ho jata hai but koi file upload krni hoti hai to enctyp define krna hota hai -->
        <div class="flex items-center justify-center w-96">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 bg-gray-700 border border-dashed border-default-strong rounded cursor-pointer hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h3a3 3 0 0 0 0-6h-.025a5.56 5.56 0 0 0 .025-.5A5.5 5.5 0 0 0 7.207 9.021C7.137 9.017 7.071 9 7 9a4 4 0 1 0 0 8h2.167M12 19v-9m0 0-2 2m2-2 2 2" />
              </svg>
              <p class="mb-2 text-white"><span class="font-semibold">Click to upload</span> or drag and drop</p>
              <p class="text-white">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" name="file" />
          </label>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="showPopUp()">
          Upload File
        </button>
      </form>
      <button onclick="closePopUp()" class="absolute top-30 right-100 text-white text-3xl">
        <i class="ri-close-line hover:text-red-500"></i>
      </button>

    </div>

    <!--ye jo niche wla div hai ye upload huyi file ko show karega -->
    <div class="files mt-3 flex flex-col gap-2">
      <% file.forEach((file)=>{ %>
      <div class="p-2 cursor-pointer rounded-md bg-gray-300 flex justify-between">
        <h1><%= file.originalName%></h1>
        <a href="/download/<%= file.path %>" class="text-blue-500 hover:text-blue-700 " download="<%= file.originalName %>" target="_blank"><i class="ri-download-2-line text-2xl"></i></a>
      </div>
      <% }) %>
    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  <script>
    function showPopUp() {
      document.querySelector(".pop").style.display = "flex";
    }
    function closePopUp() {
      document.querySelector(".pop").style.display = "none";
    }
  </script>
</body>

</html>