<!-- success.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      background: #f4f4f4;
    }

    .msg {
      color: green;
      font-size: 22px;
      font-weight: bold;
      background: #e8f5e9;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    button{
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
      position: absolute;
      top:60%;
      left:50%;
      transform: translate(-60%);
      color: blue;
      background: #e8f5e9;
      cursor: pointer;
      font-weight: bold;
    }
  </style>
</head>
<body>

  <div class="msg">
    ✅ You have successfully uploaded
    <a href="/"><button>Go to Home</button></a>
  </div>

</body>
</html>
