<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      body{
        margin: 0px;
        padding: 0px;
        background:linear-gradient(45deg, #020024, #090979 ,#00D4FF);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh
      }
        .container{
        border: 1px solid green;
        background-color:#e6fffa;
        width: 400px;
        height: 200px;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%,-50%);
        padding:30px
        }
        .success {
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            background: #e6fffa;
            color: #047857;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="success">
        ✅ User LoggedIn Successfully
    </div>
    <div class="success">
      <p>Now You can Goto Homepage to upload your File</p>
    </div>
    <div class="success">
        <a href="/">Goto Home Page</a>
    </div>
</div>

</body>
</html>
