<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .container{
        border: 1px solid green;
        background-color:#e6fffa ;
        width: 400px;
        height: 200px;
        margin: 40px 0px;
        padding:30px
        }
        .success {
          border: 1px solid black;
            margin-top: 35px;
            padding: 12px;
            border-radius: 5px;
            background: #e6fffa;
            color: #047857;
            font-weight: bold;
            text-align: center;
            width: 300px;
            justify-self: center;
        }
    </style>
</head>
<body>

<div class="container">
  
      <!-- UI-only success message -->
    <div class="success">
        ✅ User Registered Successfully
    </div>
    <div class="success">
        <a href="/user/login">Goto Login Page</a>
    </div>
  
</div>



</body>
</html>
